fastapi==0.115.0
uvicorn[standard]==0.30.0
python-multipart==0.0.9
google-generativeai
langchain
langchain-google-genai
langgraph
pytesseract==0.3.13
Pillow
PyMuPDF==1.24.11
faster-whisper
youtube-transcript-api==1.2.4
faiss-cpu
langchain-community
sentence-transformers
pydantic[email]
pydantic-settings
python-dotenv==1.0.1
httpx
structlog==24.4.0
pytest==8.3.0
pytest-asyncio==0.23.0
pydub==0.25.1
jinja2
